.grid-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    padding: 10px;
}

.item{
    background-color: #3498db;
    color: white;
    padding: 30px;
    text-align: center;
    font-size: 20px;
    border-radius: 5px;
}