.container{
    width: 600px;
    height: 300px;
    overflow: hidden;
    position: relative;
    transition: transform 0.3s ease-in-out;
}

.container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.overlay-text{
    position: absolute;
    color: white;
    top: 45%;
    left: 35%;
    background-color: rgba(0, 0, 0, 0.6);
    opacity: 0;
    transition: opacity 0.4s ease;
}

.container:hover .overlay-text{
    opacity: 1;
}